#search {
  height: 30px;
  width: 150px;
  position: absolute;
  left: 20px;
  border-style: hidden;
}
#searchArea {
  position: relative;
  max-width: 220px;
  height: 40px;
  border-style: groove;
  border-radius: 5px;
}
#addbtn {
  height: 40px;
  width: 180px;
  border-radius: 5px;
  border-width: thick;
  border-style: groove;
  background-color: snow;
  color: black;
  right: 20px;
  position: absolute;
}
#pagination {
  height: 30px;
  width: 150px;
  position: absolute;
  border-radius: 10px;
  right: 200px;
  color: white;
}
#selectrange {
  border-radius: 5px;
  width: 50px;
}
