#tdstyle {
  border-radius: 5px;
  height: 30px;
  width: 300px;
}
#tr {
  color: rgb(224, 99, 99);
}

#modaldisplay {
  height: 300px;
  width: 500px;
  position: relative;
  background-color: rgb(154, 193, 209);
}
#ModalBody {
  background-color: rgba(245, 245, 245, 0.918);
}
