#displaystyle {
  text-align: center;
  font-family: Arial;
  width: 100%;
  padding: 10px;
}

#displaystyle tr:nth-child(even) {
  padding: 10px;
}
#displaystyle tr:hover {
  background-color: rgb(224, 222, 243);
}
#displaystyle td {
  padding: 7px;
  width: 10%;
}

#header {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(101, 158, 233);
  height: 40px;
}
#sortupimg {
  height: 13px;
  width: 13px;
  background-color: rgb(101, 158, 233);
}

#sortdownimg {
  height: 13px;
  width: 13px;
  background-color: rgb(101, 158, 233);
}

#editbtn {
  color: rgb(88, 170, 218);
  border-style: hidden;
  background-color: mintcream;
  height: 20px;
  width: 20px;
}
#paymentbtn {
  color: rgb(88, 170, 218);
  border-style: hidden;
  background-color: mintcream;
}
#paymentbtn:hover {
  text-decoration: underline;
  background-color: rgb(224, 222, 243);
}
#editbtn:hover {
  text-decoration: underline;
  background-color: rgb(224, 222, 243);
}
#deletebtn {
  color: rgb(230, 111, 111);
  background-color: mintcream;
  border-style: hidden;
  text-decoration: bold;
  height: 20px;
  width: 20px;
}
#deletebtn:hover {
  background-color: rgb(224, 222, 243);
}
